body {
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.jumbotron {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 250px;
    border-radius: 10px;
    background: rgb(0, 204, 161);
    background: linear-gradient(45deg, rgba(0, 204, 161, 1) 0%, rgba(239, 216, 29, 1) 47%, rgba(239, 216, 29, 1) 53%, rgba(255, 255, 255, 1) 100%);
    color: #2f2f2f;
}

.jumbotron-main-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
}

.jumbotron-firm {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-weight: 500;
}